.top-area {
    position:fixed;
    top:5px;
    left:0;
    z-index:300;
}

$darkTitleBackground:#212121;
.map-title {
    background: $darkTitleBackground;
    color:#fff;
    font-size: 1.5em;
    padding: 0.6em;
}

.map-size-controls {
    font-size: 0.8em;
    background: $darkTitleBackground;
    color:#fff;
    display:inline-block;
    padding: 0 0.3em 0.8em;
    label {
        padding-left:10px;
        padding-right:10px;
    }
    input {
        background:lighten($darkTitleBackground, 14%);
        color:#fff;
        font-family: "Source Code Pro", monospace;
        outline: 0;
        border:0;
        width: 40px;
        line-height:24px;
        padding-left:4px;
        border-bottom:2px solid #50E3C2;
    }
}