* {
    box-sizing: border-box;
}

@import 'reset';


html,body {
    height:100%;
}

body {
    font-family: 'Source Code Pro', monospace;
    background: url(//drewconley.github.io/thedangercrew.com/assets/images/paper-background.png);
    padding-top:100px;
}

.svg-viewer-container {
    svg {
        overflow:visible;
    }
}

@keyframes selected-glow {
    0% {border-color:cyan}
    100% {border-color:lime}
}
.landscape-placement {
    z-index:10;
    /* position is absolute (inline-style) */


    &.selected-placement {
        z-index:11;
        &:after {
            pointer-events: none;
            content: '';
            position:absolute;
            display:block;
            top:0;right:0;left:0;bottom:0;
            border: 2px solid cyan;
            animation: selected-glow 1s infinite;
            animation-direction: alternate;
        }
    }

    &.structure-placement {
        z-index:20;
        &.selected-placement {
            z-index:21;
        }
    }

    &.object-placement {
        z-index:30;
        &.selected-placement {
            z-index:31;
        }
    }


    svg {
        display:block;
        overflow:visible;
    }
}
.placement-corners-container {
    position:absolute;
    left:0;right:0;bottom:0;top:0;


    .placement-corner-top-left,
    .placement-corner-top-right,
    .placement-corner-bottom-left,
    .placement-corner-bottom-right{
        position:absolute;
        background: red;
        opacity: 0;
        pointer-events: all;
        //width : set by inline state javascript
        &:hover {
            opacity: 1 !important;
        }
    }

    .placement-corner-top-left { top:0; left:0; }
    .placement-corner-top-right { top:0; right:0; }
    .placement-corner-bottom-left { bottom:0; left:0; }
    .placement-corner-bottom-right{ bottom:0; right:0; }
}

/* Flexy stuff */
.flex-side-by-side-row {
    display:flex;
    justify-content: space-between;
    align-items: center;
}




@import 'top-area';
@import 'context-menu';
@import 'bottom-menu';
